<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="refresh" content="5; url=https://happiness.haprocket.com/auth/sign-in">

    <title>Confirm Account</title>
    <link
      rel='stylesheet'
      href='https://unpkg.com/spectre.css/dist/spectre.min.css'
    />
    <link
      rel='stylesheet'
      href='https://unpkg.com/spectre.css/dist/spectre-icons.min.css'
    />
    <style type='text/css'>
      body { background-color: #fff; } .logo { padding: 50px 0; display:
      flex; flex: 1; align-items: center; justify-content: center; } 
      .card{  margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        width: 100%;
        min-height: 60vh;
      } 
      .card-image {
        max-width: 100px;
        margin-bottom: 1rem;} 
      .h5-thanks {
        font-weight: 400;
      } 
      .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: max-content;
        align-items: center;
        justify-content: center;
      }
    .img {
        width: 100%;
      }
      .empty{
        background: #ffffff;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <img src='/assets/fullLogoBlue.svg' width='200' height='auto' />
      <div class="card">
          <div className="card-image image-center">
            <img src="/assets/rocket.png" className="img-responsive" alt="rocket" />
          </div>
          <div class='empty'>
            <p class='empty-title h5'>Account verification</p>
            {{#if email_verified}}
              <p class='empty-subtitle text-success'>{{name}}, your account has been
                verified successfully</p>
              <p>You will be redirect to login in 5 seconds, but if your aren't redirected <a href="https://haprocket-web.vercel.app/auth/sign-in">click here</a>.</p>

            {{else}}
              {{#if previously_verified}}
                <p class='empty-subtitle text-error'>Your account has already been
                  verified</p>
                  <p>You will be redirect to login in 5 seconds, but if your aren't redirected <a href="https://haprocket-web.vercel.app/auth/sign-in">click here</a>.</p>
              {{else if jwt_expirated}}
                <p class='empty-subtitle text-error'>Token is expired</p>
              {{else}}
                <p class='empty-subtitle text-error'>There was an error verifying your
                  account.</p>
              {{/if}}
            {{/if}}
          </div>
      </div>
    </div>
  </body>
 
</html>
